{
	"SQLALCHEMY_DATABASE_URI": "sqlite:///data.db",
	"ADMIN_PASSWORD":"",
	"LOGGING": {
		"LEVEL": {
			"ALL": 20,
			"CONSOLE": 20,
			"FILE": 20
		},
		"FILE": "log.txt"
    },
    "HOMEPAGE_BLOG_AMOUNT":10
}
