{% extends "base.html" %}

{% block title %}New Post{% endblock %}
{% block content_title %}NEw Post{% endblock %}

{% block content %}
	<h2>New Post</h2>
	<div class="row">
	    <div class="col s12">
	    	<ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#edit">Edit</a></li>
		        <li class="tab col s3"><a href="#preview">Preview</a></li>
	    	</ul>
	    </div>
	    <div id="edit" class="col s12">
	    	<br>
	    	<div class="row">
			    <form class="col s12" method="post">
				    <div class="row">
					    <div class="input-field col s6">
						    <input placeholder="Title" name="title" type="text" class="validate">
						    <label for="title">Title</label>
					    </div>
				    </div>
				    <div class="row">
					    <div class="input-field col s12">
		          			<textarea placeholder="Short Description" name="shortDesc" class="materialize-textarea"></textarea>
		          			<label for="content">Short Description</label>
					    </div>
				    </div>
				    <div class="row">
					    <div class="input-field col s12">
		          			<textarea placeholder="Content" name="content" class="materialize-textarea"></textarea>
		          			<label for="content">Content</label>
					    </div>
				    </div>
				    <div class="row">
						<div class="input-field col s2">	
      						<input type="checkbox" class="filled-in" id="pub" name="published" checked>
      						<label for="pub">Published?</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s2">
	    					<button class="btn btn-default grey darken-3" type="submit">Post</button>
						</div>
					</div>
			    </form>
	    	</div>
	    </div>
	    <div id="preview" class="col s12">
	    	<br>
	    	In Progress
	    </div>
  	</div>
{% endblock %}